
.DS_Store
Day 1/main
Day 1/part1-cs/obj/Debug/net6.0/apphost
Day 1/part1-cs/obj/Debug/net6.0/part1-cs.AssemblyInfoInputs.cache
*.dll
*.json
*.o
*.txt
Day3/part1/Makefile
Day3/part2/main
Day3/part1/main
*.editorconfig
*.cs
*.cache
